/**
* style.css
* Some custom styles for angular2 classes
*/
html, body {
    font-family: helvetica, arial, verdana;
}

.ng-touched.ng-invalid {
    background-color: lightsalmon;
}

.selected {
    background-color: cadetblue;
}
